.form__content {
    margin: 0 auto;
    padding: 30px 15px;
    background-color: #f6f4f4;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 40px 12px;
    border: 1px solid #d5d4d4;
    border-radius: 4px;
    background-color: #fff;
}

.form__group {
    margin-bottom: 5px;
    padding: 10px 0;
    width: 70%;
    text-align: left;
    margin: 0 auto;
}

.form__group-title,
.form__group-content {
    width: 100%;
    padding: 5px 0;
}

.form__group-title span {
    font-weight: bold;
}

.form__group-content input {
    padding: 10px;
    width: 100%;
    height: 15px;
    border: 1px solid #f6f4f4;
    border-radius: 3px;
    appearance: none;
    background-color: #f6f4f4;
}

input::placeholder {
    color: #afafaf;
    font-size: 10px;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 8px 35px;
    border: none;
    border-radius: 2px;
    background: #887a6b;
    color: #fff;
    cursor: pointer;
}