.form__content {
    background-color: #f6f4f4;
    height: 100%;
    padding: 30px 15px;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 40px 0;
    border: 1px solid #d5d4d4;
    border-radius: 4px;
    background-color: #fff;
}

.form__group {
    padding: 10px 0;
    width: 60%;
    text-align: left;
    margin: 20px auto;
}

.form__group-title {
    width: 100%;
    padding: 10px 0;
    font-weight: bold;
}

.form__group-content input {
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    height: 15px;
    border: none;
    appearance: none;
    background-color: #f6f4f4;
}

input::placeholder {
    color: #afafaf;
    font-size: 10px;
}

.form__error {
    color: #ff0000;
    margin: 0;
}

.form__button {
    margin: 30px 0;
}

.form__button-submit {
    padding: 8px 35px;
    border: none;
    background: #887a6b;
    color: #fff;
    cursor: pointer;
}

/* loginのみ */
.form__btn-login {
    margin-top: 20px;
}