*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Andada Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #887a6b;
}

.header {
    height: 80px;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.header__inner {
    position: relative;
    height: 100%;
}

.header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header__logo-link {
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    letter-spacing: 1px;
}

.header__right {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.header__link {
    text-decoration: none;
    padding: 4px 20px;
    border: 1px solid #d5d4d4;
    background-color: #f6f4f4;
    color: #afafaf;
}

/* main共通 */
.form__content {
    margin: 0 auto;
}

.form__heading {
    text-align: center;
}

.form__title {
    font-size: 26px;
    font-weight: 400;
}