/* 共通 */

/* index 専用 */
.contact-form {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.form__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #887a6b;
    font-family: "faustina", sans-serif;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 100%;
}

.form__required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    color: #ff0000;
}

.form__content {
    width: 100%;
}

.form__input--short {
    width: 20%;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input input,
.form__input textarea {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #887a6b;
    border-radius: 3px;
    appearance: none;
}

.form__input input {
    height: 40px;
    width: 100%;
}

.form__input textarea {
    height: 180px;
    width: 100%;
}

.form__btn {
    margin-top: 30px;
}

.form__btn-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #887a6b;
    color: #fff;
    cursor: pointer;
}

/* confirm 専用 */
.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
    border-collapse: collapse;
}

.confirm-table {
    width: 100%;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    font-weight: bold;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

/* thanks 専用 */
.thanks {
    position: relative;
    text-align: center;
    padding: 200px 0;
}

.thanks::before {
    content: "Thank you";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    color: #000;
    opacity: 0.05;
    z-index: 0;
    white-space: nowrap;
}

.thanks__message,
.thanks__button {
    position: relative;
    z-index: 1;
}