*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 共通 */
.contact-form {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.form {
    margin: 0 auto 40px;
    width: 90%;
}

.form__btn {
    margin: 30px;
    text-align: center;
}

.form__btn-submit {
    padding: 10px 40px;
    border: none;
    border-radius: 3px;
    background: #887a6b;
    color: #fff;
    cursor: pointer;
}

/* index 専用 */
.form__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.form__title {
    width: 40%;
}

.form__required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    color: #ff0000;
}

.form__content {
    width: 60%;
    margin-bottom: 20px;
}

.form__content--flex {
    display: flex;
    justify-content: space-between;
}

.form__input-name input {
    width: 100%;
    padding: 6px;
    background: #eaedf2;
    border: none;
}

.form__input-tel {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form__input {
    width: 100%;
}

.form__input input {
    width: 100%;
    padding: 5px;
    background: #eaedf2;
    border: none;
}

.form__input-radio {
    display: flex;
    justify-content: flex-start;
}

.form__radio {
    padding-right: 50px;
}

.form__input-tel input {
    width: 25%;
    padding: 5px;
    background: #eaedf2;
    border: none;
}

.form__select {
    padding: 5px;
    background: #eaedf2;
    border: none;
}

.form__select option {
    color: #887a6b;
}

.form__input textarea {
    padding: 5px;
    height: 200px;
    width: 100%;
    background: #eaedf2;
    border: none;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    margin: 0;
}

/* confirm 専用 */
.confirm-table {
    width: 100%;
    border-collapse: collapse;
}

.table__row {
    width: 100%;
}

.table__header {
    padding: 15px;
    width: 30%;
    border: 1px solid #ddd;
    background-color: #887a6b;
    color: #fff;
}

.table__text {
    padding: 15px 30px;
    border: 1px solid #ddd;
}

.table__text input {
    outline: none;
    border: none;
}

.form__btn--flex {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.form__back-btn {
    margin-top: 30px;
    padding: 10px;
}

.form__back-btn button {
    border: none;
    text-decoration: underline;
    background: none;
    cursor: pointer;
}

/* thanks 専用 */
.thanks {
    position: relative;
    text-align: center;
    padding: 200px 0;
}

.thanks::before {
    content: "Thank you";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    color: #000;
    opacity: 0.05;
    z-index: 0;
    white-space: nowrap;
}

.thanks__message,
.thanks__btn {
    position: relative;
    z-index: 1;
}

.thanks__message {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
}

.thanks__btn a {
    padding: 10px 35px;
    background-color: #887a6b;
    color: #fff;
    text-decoration: none;
}